<section class="bg-zinc-900 p-10 rounded-xl my-4">
    <h2 class="text-5xl font-bold ">About Us</h2>
    <p class="text-zinc-300 mt-4">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aut, temporibus enim voluptatibus eum impedit debitis quibusdam molestias quia cum earum at provident dicta, neque a doloribus necessitatibus error voluptate exercitationem.
    </p>
    

</section>