---
import features from "../../config/features.json";
---

<h1 class="text-center font-bold text-5xl mt-10">Features</h1>

<div class='grid md:grid-cols-3 gap-2 mt-4 grid-cols-1'>
    
       
    {
        features.map((feature) => {
            return (
                <div class="bg-amber-300 p-4 text-fuchsia-600 rounded-2xl">
                    <h2 class="text-3xl">{feature.title}</h2>
                    <p class="text-fuchsia-300">
                       {feature.description}
                    </p>
                </div>
            );
        })
    }
</div>
