<header class="bg-zinc-900 flex text-center md:flex-row p-20 gap-2 flex-col md:text-left  rounded-xl">
    <div>
        <h1 class="text-5xl font-bold mb-2">Protect Your Password</h1>
        <p class="my-3 text-2xl">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex quam,
            reiciendis excepturi mollitia corporis, distinctio quo minima
            officiis reprehenderit voluptate dolore itaque aliquid id dicta
            earum ab ullam nostrum iusto.
        </p>

        <button class="bg-indigo-500 p-3 py-3 hover:bg-indigo-300 rounded-2xl my-3" > Start Now </button>
    </div>

    <img src="croque.jpg" alt="" class="w-80 mt-1 m-auto" />
</header>
