---
import Layout from "../layouts/Layout.astro";
---


<Layout title = 'About'>
    <h1>About</h1>
    <br>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus quas quis a earum nisi officia inventore nemo impedit saepe molestiae voluptas temporibus odio numquam, fuga ab id qui quisquam obcaecati!
    </p>
</Layout>