<footer class="bg-zinc-400 m-4">
    <div>
        <h4>Site Map</h4>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/pricing">Pricing</a>
    </div>
    <div>
        <h4 class="font-bold">
            Site map
        </h4>

        <p>Lorem, ipsum.</p>
        <p>Lorem, ipsum.</p>
        <p>Lorem, ipsum.</p>

    </div>
</footer>